html,
body{
  height: 100%;
  background: #202020;
  background-image: url(../images/bg.png);
  @extend %montserrat-300;
  font-size: 24px;
  color: $default-color;
}

.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main{
  flex: 1 0 auto;
}

.footer{
  flex: 0 0 auto;
  background: linear-gradient(90deg, rgba(39, 174, 136, 0.6) 0%, rgba(31, 171, 207, 0.6) 100%);
}

.container{
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 15px;
}

.title{
  margin: 100px 0 30px;
  @extend %druktextwidecyr-700;
  color: $accent-color;
  font-size: 60px;
}