$accent-color: #30DBE3;
$default-color: #EEEEEE;

%montserrat-300{
    font-family: 'Montserrat-Light';
    font-weight: 300;
}

%montserrat-400{
    font-family: 'Montserrat-Regular';
    font-weight: 400;
}

%montserrat-500{
    font-family: 'Montserrat-Medium';
    font-weight: 500;
}

%montserrat-600{
    font-family: 'Montserrat-SemiBold';
    font-weight: 600;
}

%druktextwidecyr-700{
    font-family: 'DrukTextWideCyr-Bold';
    font-weight: 700;
}

%annieuseyourtelescope-400{
    font-family: 'AnnieUseYourTelescope-Regular';
    font-weight: 400;
}

%antonio-100{
    font-family: 'Antonio-Thin';
    font-weight: 100;
}